* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

/* Sidebar */

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-weight: 700;
    color: white;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100vh;

    background-color: rgb(57, 109, 126);
}

.flex-item {
    padding: 20px;
    color: white;
    font-weight: 700;
}

.logo {
    font-size: 30px;
    margin-bottom: 2em;
    margin-left: 30px;
}

nav ul li a {
    font-size: 20px;
    padding: 10px;
    display: block;
}

nav ul li:hover {
    background-color:brown;
}

.container {
    display: flex;
    flex-direction: row;
}

/* Header */

.header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
}

.header-right {
    position: absolute;
    top: 1.5em;
    right: 2em;
    display: flex;
    flex-direction: row;
}

.header .searchbar input {
    width: 500px;
    padding: 0 20px;
    border-radius: 10em;
    border: 1px gray solid;
    font-size: 16px;
}

.searchbar {
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: space-around;
}

.search-logo {
    margin: 10px 10px;
}

.header-right p {
    font-weight: 800;
    letter-spacing: 1px;
    margin-left: 20px;
    margin-top: 9px;
}

.header-right .person {
    width: 40px;
    border-radius: 50%;
}

.notifications {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-right: 20px;
}

.searchbar button {
    padding: 10px 30px;
    border-radius: 5em 0 5em 0;
    border: none;
    background-color: rgb(77, 156, 77);
    font-weight: 700;
}